<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="assets/css/main.css">
  <!-- Foundation JS -->
  <script src="assets/js/modernizr.js"></script>
</head>
<body>

  {{ content }}

  <script src="assets/js/jquery.js"></script>
  <script src="assets/js/fastclick.js"></script>
  <script src="assets/js/foundation.min.js"></script>
  <script>
  $(document).foundation();
  </script>
</body>
</html>
